a:hover, a:focus {
	color: #00c400;
}

.logo {
	background: url(../../images/colors/green/logo.jpg) no-repeat left 20px;
}

#top-nav #fixed-nav li a:hover {
	color: #00c400;
}

#top-nav #fixed-nav li.current a {
	color: #00c400;
}

.tp-caption.big_white i{
	color: #00c400;
}

.slider_but_02 {
	background-color: #00c400;
	border: 1px solid #00c400;
}

h1 {
	color: #00c400;
	background: url(../../images/colors/green/title-bg1.png) no-repeat center bottom;
}

h2 em {
	color: #00c400;
}

h3 em {
	color: #00c400;
}

.tibc_section .top i {
	color: #00c400;
}

.about_page .one_third:hover .tibc_section .top {
	background-color: #00c400;
}

.gray_bg .one_third:hover .left_icons {
	background-color: #00c400;
}

.site_statics li {
	color: #00c400;
}

.faide_slider #slider strong{
	color: #00c400;
}

#services {
	background-color: #00c400;
}

.sliderContainer .slideSelectors .selected {
	background: #00c400;
}

.why_weare .one_half_last li i {
	color: #00c400;
}

.packages_box ul {
	border-bottom: 4px solid #00c400;
}

.packages_box li.title {
	background: #00c400;
}

.packages_box li.arrow {
	background: url(../../images/colors/green/arrow-down.png) no-repeat center bottom;
}

.twitter_feed {
	background: #00c400 url(../../images/colors/green/site-img6.jpg) no-repeat center bottom;
}

.contact_page {
	border-top: 28px solid #00c400;
}

.contact_form .contact_submit {
	background-color: #00c400;
}

a.button_01 {
	background-color: #00c400;
}

.why_us .acc-trigger a { background: url(../../images/colors/green/accordion-ico.png) no-repeat 20px 13px;}
.why_us .acc-trigger a:hover { color: #00c400; border-bottom: 1px solid #fff;  }
.why_us .acc-trigger.active a { color: #00c400; background-position: 20px -58px; cursor: default;	}
.why_us .acc-trigger a { background: url(../../images/colors/green/accordion-ico.png) no-repeat 20px 13px;}
.why_us .acc-trigger a:hover { color: #00c400; border-bottom: 1px solid #fff;  }
.why_us .acc-trigger.active a { color: #00c400; background-position: 20px -58px; cursor: default;	}





